
#scroll-container {
    /* border: 3px solid black; */
    border-radius: 5px;
    overflow: hidden;
    font-size: 50px;
  }
  
  #scroll-text {
    text-align: right;
    display: inline-block;
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  .collapsible {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }



.container {
            position: relative;
            width: 100%;
            height: 50px;
            overflow: hidden;
        }

        .moving-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #333;
            color: #fff;
            white-space: nowrap;
            font-size: 24px;
            line-height: 50px;
            animation: move 5s linear infinite;
        }

        @keyframes move {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }


        .carousel-container {
          width: 100%;
          max-width: 600px;
          margin: auto;
          position: relative;
          overflow: hidden;
          
        }
        .carousel-slide {
          display: flex;
          width: 100%;
        }
        .carousel-item {
          min-width: 100%;
          transition: ease 0.5s;
        }
        .carousel-item img {
          width: 100%;
          display: block;
        }
        .prev, .next {
          cursor: pointer;
          /* position: absolute; */
          /* top: 50%; */
          transform: translateY(-50%);
          /* border: none; */
          /* padding: 10px; */
          z-index: 1000;
        }
        /* .prev { left: 10px; } */
        /* .next { right: 10px; }  */


